---json
{
  "permalink": "feed.atom",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "language": "en",
    "title": "Anya Danilova Archive",
    "description": "Archive of thoughts, things, process",
    "base": "https://anyadanilova.com/",
    "author": {
      "name": "Anya Danilova",
      "email": "hello@anyadanilova.com",
      "uri": "https://anyadanilova.com/"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
    <uri>{{ metadata.author.uri }}</uri>
  </author>
  {%- for post in collections.posts | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.url | htmlBaseUrl(metadata.base) }}" />
    <updated>{{ post.data.date | dateToRfc3339 }}</updated>
    <id>{{ post.url | htmlBaseUrl(metadata.base) }}</id>
    <content type="html">{{ post.content | renderTransforms(post.page, metadata.base) }}</content>
  </entry>
  {%- endfor %}
</feed>